.white{
    color:white !important;
}

.Banner{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    /*height: 400px; */
    height: auto;
    background-color: rgba(255, 255, 255, 0.13);
}

.Banner img {
    height: 600px;
}

.Productos{
    height: auto;
    padding: 30px 5%;
    background-color: rgb(56, 52, 52);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Ubicacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    padding: 20px 30px;
}

.leaflet-container{
    width: 100%;
    height: 100%;
}

.Contactanos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 50%;
    padding: 20px 30px;
}

.ubicacionandRedes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.tituloSecciones{
    display: block;
    color: black;
    width: 100%;
    text-align: center; 
    font-size: 2rem; 
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.redSocialIcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.redSocialIcon svg, .redSocialIcon img{
    margin-right: 10px;
}

.leaflet-control-attribution a[href="https://leafletjs.com"], .leaflet-control-attribution span, .leaflet-control-attribution #text{
    display: none;
}

.galeria{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 10px 0px;
    background-color: rgba(66, 66, 66, 0.767);
}

.galeria-botonera{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.212);
}

.redesSociales{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
   /* background-color: gray; */
}

.redSocial-email{
    width:100%;
    margin-bottom: "20px";
  /*  background-color: bisque; */
}

.redSocial-email p{
    text-align: center;
}

.horarios{
    width: 100%;
    min-width: 250px;
    padding: 10px;
}

.horarios h1{
    color: rgb(224, 68, 68);
    margin-bottom: 20px;
    font-weight:700;
    font-size: 1.3rem;
}

.lista-redes{
    width: 100%;
    min-width: 250px;
   /* background-color: aquamarine; */
    padding: 10px;
}

.lista-redes li{
    margin-top: 10px;
}

.lista-redes li:nth-child(1){
    margin-top: 0px;
}


 @media (max-width: 768px) {
    
     .tituloSecciones{
        font-size: 1.7rem;
     }

     .Ubicacion{
        font-size: 0.5rem;
        width: 100%;
     }

     .Contactanos{
        width: 100%;
     }

     .Banner img {
        height: 100vw;
    }

  }