.container-tarjetas{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: auto;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0px 0px 7px 2px rgb(247, 245, 141);
}

.container-tarjetas:hover{
    transition: all 0.4s;
    transform: scale(1.05, 1.05);
}

.container-tarjetas img{
    height: 80px;
    padding: 10px;
    border-radius: 100%;
    background-color: transparent;
}

.container-tarjetas p {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}