.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 10px 20px;
}

.titulo{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2rem;
}

.subtitulo{
    width: 100%;
    text-align: center;
    background-color: rgb(46, 116, 46);
    color: white;
    font-size: 1.5rem;
    margin-top: 5px;
}

.containerItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(57, 59, 45);
}

.itemProductos{
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    height: 150px;
    max-height: 150px;
}

.itemProductos:hover{
    border: 3px solid yellow;
}

.itemProductos .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.itemProductos .imagen img{
    width: 80%;
    border-radius: 100%;
}

.itemProductos .descripcion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 65%;
    padding: 10px;
}

.itemProductos .descripcion div{
    color: white;
    width: 100%;
    word-break:break-all;
}

/* */
.modal-content{
    display: flex;
    justify-content: center;
}
/**/

@media (max-width: 768px){
    .itemProductos{
        width: 100%;
        height: 150px;
        max-height: 150px;
    }
}

@media (min-width:426px) and (max-width: 768px) {
    .itemProductos .imagen img{
        width: 106px;
        border-radius: 100%;
    }
    
}

